{{#if user}}
<h2>What would you like to do, {{user.first_name}}?</h2>
<p id="date"></p>

    <button id="close" class="btn btn-danger btn-lg btn-block"
      {{#if report}}
      {{else}}
        style="display:none;"
      {{/if}}>
      Close Daily Business
    </button>

    {{#if report}}
    {{else}}
    <button id="open" class="btn btn-primary btn-lg btn-block">
      Open the Store for Today
    </button>
    {{/if}}
    <br><br>
    {{#if report}}
    <a href="/orders">
      <button id="orderMode" class="btn btn-primary btn-lg btn-block" style="padding:15% 0">
        Switch to Order Mode
      </button>
    </a>

    {{/if}}


{{else}}
  <p>You need to Login before doing anything else...</p>
  <a href="/employees/login"><button class='btn btn-primary btn-lg'>LOGIN</button></a>
{{/if}}








<script src="/scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
{{#if user}}
<script src="/scripts/open.js" type="text/javascript"></script>
{{/if}}
