<h2>What would you like to do with the menu?</h2>
<br>
<a href="/menus/items"><button class="btn btn-success btn-lg">View Full Menu</button></a>
<br><br>
<a href="/menus/create-item"><button class="btn btn-success btn-lg">Add a new item</button></a>
<br><br>
<a href="/menus/manage"><button class="btn btn-success btn-lg">Manage Menu Headings</button></a>
