/* Custom styles from getbootstrap.com */
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* my own styles */
/* for inherited tables */
table.inner-table{
  border: 1px solid black;
}
