{{#if tables}}
  {{#each tables}}
  <a href="/orders/mytable/{{this.id}}">
    <button class="btn btn-danger btn-lg" style="padding:5% 5%; margin:10px;">
      {{this.table}}
    </button>
  </a>


  {{/each}}
{{else}}
  This server has no tables.
{{/if}}
